# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Dados brutos
data/raw/*
!data/raw/.gitkeep

# Dados intermediarios (nao versionar)
data/interim/**
!data/interim/.gitkeep

# Node
node_modules/
dist/

# Sistema
.DS_Store
*.log
Thumbs.db
